/* ELEMENT TAGS */

/* Applying background colour for page  
*/

@import url("https://fonts.googleapis.com/css?family=Grenze+Gotisch&display=swap");

html {
	height: 100%;
}

body {
	height: 100%;
}

/* Applying background colour for header/nav  */
nav {
	background-color: #ffffff00;
}

/* Applying background colour for articles and blog column */
article {
	background-color: #74f2ce;
}

article img {
	background-color: #ffffff;
}

/* changing colour for code sections to black */
code {
	color: black;
}

/* CLASSES*/

/*LINKS*/

/* changing colour for links in nav to greyish colour */
.nav-link {
	color: rgb(0, 53, 53);
}

/* changing colour for article titles/links to black */
.article-link {
	color: #000000;
}

/* changing colour for article titles/links to black when hovered over
  fixed blue underline when hovered over */
.article-link:hover {
	color: #000000;
}

/* OTHER */

/* give divs size to space navbar down so that it looks right, and moves over spacer divs a nd collapses on scroll"*/
.spacer-block-index {
	height: 50px;
}
.spacer-block-article {
	height: 20px;
}

/* makes linkedin logo smaller that it real size*/
.linkedin-logo {
	height: 30px;
	width: auto;
}

/* gives articles on main page a border when hovered over to suggest they are clickable" */

.article-pic:hover {
	border: 1px solid #74f2ce;
}

/* add space between paragraphs and headings */

.blog-column h1 {
	margin-bottom: 5%;
}
.blog-column h5 {
	margin-bottom: 4%;
	margin-top: 8%;
}
.blog-column p {
	margin-left: 5%;
	margin-right: 5%;
}
.blog-column ol {
	margin-left: 5%;
}

/* add space between last paragraph and notes/links section */

#last-blog-paragraph {
	padding-bottom: 10%;
}

@media only screen and (max-width: 850px) {
	/* For mobile phones */
	body {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: 5%;
	}

	h5 {
		font-size: 1.15em;
	}
}

.index-main-container {
	background: url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-family: "Grenze Gotisch", "San Serif";
}

.index-main-container h1 {
	color: #ffffff;
	font-size: 7em;
}

.new {
	opacity: 0;
	position: absolute;
	color: #ffffff;
}

.old {
	transition: opacity 0.2s linear;
}

.new {
	transition: opacity 0.7s linear;
}

.wrap:hover .old {
	opacity: 0;
}
.wrap:hover .new {
	opacity: 1;
}

.blog-link {
	color: #000000;
}
