body {
  background-color: darkcyan;
}

nav {
  background-color: darkcyan;
}

article {
  background-color: rgb(0, 211, 211);
}

code {
  color: black;
}

.nav-link {
  color: rgb(0, 53, 53);
}

.article-link {
  color: #000000;
}

.article-link:hover {
  color: #000000;
}

.spacer-block-index {
  height: 110px;
}

.spacer-block-article {
  height: 50px;
}

.linkedin-logo {
  height: 30px;
  width: auto;
}

.article-pic:hover {
  border: 1px solid darkcyan;
}

.blog-column h5 {
  margin-bottom: 4%;
  margin-top: 8%;
}

.blog-column p {
  margin-left: 5%;
  margin-right: 5%;
}

.blog-column h1 {
  margin-bottom: 5%;
}

.blog-column ol {
  margin-left: 5%;
}

#last-blog-paragraph {
  padding-bottom: 10%;
}
